<div class="container m-3 text-center">
  @if (loading) {
    <h5>Loading....</h5>
  }

  @if (!loading && !editingMode) {
    @if (!successMessage && category) {
      <div class="card" style="width: 18rem">
        @if (category.imageUrl) {
          <img
            [src]="getImageUrl(category.imageUrl)"
            class="card-img-top"
            alt="Category"
            />
        }
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
          <p class="card-text">
            {{ category.name }} - Some example description text.
          </p>
          <div class="btn-group" role="group">
            <button
              class="btn btn-outline-primary btn-sm"
              (click)="startEditing()"
              >
              Edit
            </button>
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="confirmDelete(category.id)"
              >
              Delete
            </button>
          </div>
        </div>
      </div>
    }
    @if (successMessage) {
      <div class="card bg-success text-light p-2">
        <h5>{{ successMessage }}</h5>
      </div>
    }
    @if (errorMessage) {
      <div class="card bg-danger text-light p-2">
        <h5>{{ errorMessage }}</h5>
      </div>
    }
  }

  @if (editingMode && category) {
    <div class="container text-center m-3">
      <h5>Editing Category: {{ category.name }}</h5>
    </div>
    <app-category-edit
      [category]="category"
      (saved)="saveChanges($event)"
      (canceled)="cancelEditing()"
    ></app-category-edit>
    <button class="btn btn-outline-danger btn-sm" (click)="cancelEditing()">
      Cancel
    </button>
  }
</div>
